/*FUENTES*/
@font-face{
    font-family: BebasNeue;
    src: url(./fonts/BebasNeue.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: TrebuchetMS;
    src: url(./fonts/TrebuchetMS.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: WebSymbolsRegular;
    src: url(./fonts/websymbols-regular-webfont.eot),
    url(./fonts/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"),
    url(./fonts/websymbols-regular-webfont.woff) format("woff"),
    url(./fonts/websymbols-regular-webfont.ttf) format("truetype"),
    url(./fonts/websymbols-regular-webfont.svg) format("svg");
    font-style: normal;
    font-weight: nromal;
}
/*ESTILOS GENRALES*/
*{
    padding: 0px;
    margin: 0px;
}
.gear,.icon{
    font-family: WebSymbolsRegular;
}
body{
    background: url(../img/pattern.png);
}
/*header*/
.wrap{
    width: 1250px;
    margin: 0px auto;
}
#header{
    width: 100%;
    height: 70px;
    background-color: #000000;
    color: white;
}
#blog{
    float: left;
    width: 200px;
    height: 55px;
    background-color: #37bcf9;
    margin-top: 8px;
    margin-left: 8px;
    overflow: hidden;
    cursor: pointer;
}
#blog:hover{
    border-radius: 2px;
    color: black;
    background-color: #ccc;
}
#blog .gear{
    float: left;
    display: block;
    line-height: 48px;
    font-size: 30px;
    margin-left: 20px;
    animation: rotategear 2s infinite linear  ;
    transition: all 200ms;
}
@keyframes rotategear{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
#blog:hover .gear{
    animation: fromDown 300ms linear;
}
@keyframes fromDown{
    0%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0%);
    }
}
#blog h3{
    float: right;
    margin-right: 70px;
    font-family: BebasNeue;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 1px;
    transition: all 300ms;
}
#blog:hover h3{
    animation: fromRight 300ms linear;
}
@keyframes fromRight{
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0%);
    }
}
#header nav{
    float: right;
    margin-right: 15%;
}
#header nav ul li{
    float: left;
    font-size: 25px;
    line-height: 70px;
    list-style: none;
    margin: 0px 20px 0px 20px;
}    
#header nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-family: BebasNeue;
    transition: all 300ms;
}
#header nav ul li a:hover{
    transform: scale(1.2,1.2);
    color:#37bcf9 ;
}
/*BANNER*/
#banner{
    width: 95%;
    height: 100px;
    border: 10px solid white;
    box-shadow: 0px 0px 4px gray;
    margin: 0px auto;
    margin-top: 22px;
    background: url(../img/bakbaner.png);
    background-position: -200px -200px;
    overflow: hidden;
    transition: all 300ms;
    animation: backBanner 10s linear;
}
@keyframes backBanner{
   0%{
       background-position: 0px 0px;
   }
   100%{
    background-position: -200px -200px;
   }
}
#banner h1{
    margin: 27px auto;
    font-size: 45px;
    font-family: BebasNeue;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px black;
    letter-spacing: 1px;
    font-weight: normal;
    animation: showText 10s linear;
}
@keyframes showText{
    0%{
        transform: translateX(-600%) scale(5,5);
        opacity: 1; 

    }
    50%{
        transform: translateX(600%) scale(5,5);
        opacity: 1; 
    }
    75%{
        transform: translateX(-600%) scale(5,5);    
        text-shadow: none;
        background-color: transparent;
        opacity: 0; 
    }
    100%{
        transform: translateX(0) scale(1,1);
        opacity: 1; 
        text-shadow: 2px 2px 1px black;
        color: white;
    }
}
/*cards*/
.card{
    display: block;
    float: left;
    width: 205px;
    height: 305px;
    border: 1px solid #cccccc;
    margin: 20px;
    overflow: hidden;
    margin-top: 70px;
    cursor: pointer;
    margin-bottom: 120px;
    transition: all 300ms;
    
}
.card:hover{
    background-color: black;
}
.card:hover .icon{
    font-size: 70px;
    color: #37bcf9;    
    animation: showIcon 300ms linear;
}
@keyframes showIcon{
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateY(0%);
    }
}
.card .icon{
    display: block;
    text-align: center;
    margin: 0px auto;
    line-height: 150px;
    font-size: 45px;
    transition: all 300ms;
}
.card .category{
    text-align: center;
    margin-bottom: 10px;
    color: #00538c;
    font-weight: bold;
    font-family: TrebuchetMS;
    transition: all 300ms;
}
.card:hover .category{
    color: white;
    animation: showCategory 400ms linear;
}
@keyframes showCategory{
    from{
        transform: translateY(-300%);
        color: black;
    }
    to{
        transform: translateY(0%);
        color: white;
    }
}
.card .description{
    text-align: center;
    color: #00538c;
    font-family: sans-serif;
    transition: all 300ms;
}
.card:hover .description{
    color: white;
    animation: showDescription 400ms linear;

}
@keyframes showDescription{
    from{
        transform: translateX(-300%);
        color: black;
    }
    to{
        transform: translateX(0%);
        color: white;
    }
}
.card:last-child{
    margin-right: 0px;
}
#aside{
    float: right;
    width: 320px;
    height: 1095px;
}
#aside h3{
    display: block;
    width: 90%;
    height: 48px;
    font-size: 30px;
    padding-left: 10px;
    line-height: 48px;
    font-family: BebasNeue;
    letter-spacing: 2px;
    box-shadow: 0px 1px 0px #393d3f,1px 2px 0px #393d3f,2px 3px 0px #393d3f, 3px 4px 0px #393d3f;   
    font-weight: normal;
    background: url(../img/pxgray.png), white;
    margin: 0px auto;
    margin-bottom: 20px;
}
#aside #search{
    display: block;
    width: 75%;
    height: 30px;
    border: 1px solid #dadada;
    box-shadow: 0px 0px 2px gray;
    background-color: white;
    margin: 0px auto;
    margin-bottom: 15px;
    border-radius:5px;
}
#aside #search input[type="text"]{
    width: 85%;
    height: 30px;
    text-align: center;
    border: none;
    color: #555;
    transition: all 300ms;
}
#aside #search input[type="text"]:focus,
#aside #login input[type="text"]:focus,
#aside #login input[type="password"]:focus{
    color: #333;
}
#aside #search input[type="submit"]{
    width: 12%;
    border: none;
    font-size: 17px;
    color: #555555;
    background-color: transparent;
    line-height: 30px;
    border-left: 1px solid #e1e1e1;
    cursor: pointer;
}
#aside .widget{
    width: 84%;
    height: 240px;
    margin: 0px auto;
    border: 1px solid #d4d4d4;
    box-shadow: 0px 2px 2px gray;
    margin-bottom: 20px;
    margin-top: 15px;
    background-color: white;
}
#aside #login input[type="text"],
#aside #login input[type="password"]{
    display: block;
    width: 83%;
    height: 30px;
    margin: 0px auto;
    border: 1px solid #d4d4d4;
    box-shadow: 0px 2px 2px gray;
    background-color: white;
    border-radius:5px;
    margin-top: 20px;
    padding-left: 25px;
    color: #555;
    transition: all 300ms;
    text-align: center;
}
#aside #login #lau,#lap{
display: block;
position: absolute;
}
#aside #login #lau{
margin-left: 13px;
font-size: 15px;
margin-top: 5px;
}
#aside #login #lap{
    margin-left: 15px;
    font-size: 20px;
    margin-top: 25px;
}
#aside #login input[type="submit"],
#aside #login input[type="reset"]{
    width: 38%;
    height: 36px;
    background-color: #34abd6;
    border: 1px solid #156785;
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;
    margin: 0px 15px 0px 15px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 15px;
}
#aside #login a{
    display: block;
    width: 90%;
    margin-left: 15px;
    text-decoration: none;
    color: #000000;
}
#aside #login a:hover{
    text-decoration: underline;
}
#aside #social{
    width: 65%;
    height: 240px;
}
#aside .overlay{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0px 0px 1px #ccc;
    height: 20px;
    border: 3px solid white;
    box-shadow: 0px 0px 4px #ccc;
    background-color: #F4F7Fe;
    position: absolute;
    padding: 5px;
    margin-left: 70px;
    margin-top: -35px;
    transform: translateX(-80%);
    opacity: 0;
    transition: all 300ms;
}

#aside #social a{
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 35px;
    margin-left: 20px;
    margin-top: 25px;
}
#aside #social div:hover .overlay{
    opacity: 1;
    transform: translateX(0%);
}
#content{
width: 860px;
float: left;
}
#content h2{
    display: block;
    width: 97%;
    height: 75px;
    background: url(../img/pxgray.png), white;
    box-shadow: 0px 1px 0px #393d3f,1px 2px 0px #393d3f,2px 3px 0px #393d3f, 3px 4px 0px #393d3f;   
    text-align: center;
    line-height: 75px;
    font-size: 40px;
    font-family: BebasNeue;
    letter-spacing: 2px;
    margin-bottom: 30px;
    font-weight: normal;
}
#content .articles-box{
    width: 94%;
    margin-bottom: 40px;
    border: 1px solid #cccccc;
    padding: 5px;
    background-color: #FFFFFF;
}
#content .date{
    float: right;
    display: block;
    width: 215px;
    height: 40px;
    background-color: #393d3f;
    color: white;
    font-size: 14px;
    margin-top: -5px;
    margin-right: -5px;
    line-height: 40px;
    text-align: center;
    border-radius: 0px 0px 0px 5px;
}
#content .date span{
    margin-left: 10px;
}
#content h3{
    line-height: 40px;
    margin-left: 10px;
    font-size: 25px;
    color: #00538c;
    font-family: TrebuchetMS;
    margin-bottom: 10px;
}
#content article{
    width: 95%;
    margin-left: 10px;
    padding-bottom: 20px;
}
#content article a{
    text-decoration: none;
    color: #00538c;
}
#content article a:hover{
    text-decoration: underline;
}
#content #c-box{
    
    width: 94%; 
    height: 122px;
    cursor: pointer;
    transition: all 300ms;
}
#content #c-box:hover{
    border: 10px solid #37bcf9;
    border-radius: 240px;
    box-shadow: 0px 0px 10px gray;
    background-color: #333;
    animation: blink 10s infinite linear;
}


@keyframes blink{
    0%{
        border: 10px solid #37bcf9;
    }
    25%{
        border: 10px solid green;
    }
    50%{
        border: 10px solid yellow;
    }
    75%{
        border: 10px solid white;
    }
    100%{
        border: 10px solid #37bcf9;
    }
}

#content #c-box h1{
    text-align: center;
    line-height: 122px;
    font-size: 40px;
}
#content #c-box h1 a{
    display: block;
    text-decoration: none;
    font-family: BebasNeue;
    color: #00538c;
    letter-spacing: 1px;
    font-weight: normal;
    transition: all 1s;
}
#content #c-box:hover a{
    color: white;
    text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black, 1px 5px 1px black, 1px 6px 1px black;
    
}
.clearfix{
    float: none;
    clear: both;
}
#footer{
    width: 100%;
    height: 430px;
    background-color: #000000;
    overflow: hidden;
    color: white;
}
#footer .wrap >div{
    float: left;
    width: 26%;
    height: 370px;
    margin: 40px;
}
#footer h3{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin: 0px auto;
    background: url(../img/pxgray.png), white;
    font-size: 35px;
    text-align: center;
    font-family: BebasNeue;
    line-height: 52px;
    margin-bottom: 10px;
    color: #000000;
}
#footer ul{
    margin-left: 25px;
    font-size: 18px;
    width: 90%;
    margin-top: 20px;
}
#footer ul li{
    padding-bottom: 10px;
    border-bottom: 1px solid #7a7a7a;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 15px;
    transition: all 300ms;
}

#footer ul li:first-child{
    border-bottom: none;
}
#footer ul li a{
    display: block;
    color: #37bcf3;
    text-decoration: none;
    transition: all 300ms;
}
#footer ul li:hover a{
    padding-left: 40px;
    color: white;
}
#footer iframe{
    display: block;
    width: 100%;
    height: 305px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px white;
}

#footer #browsers img{
    float: left;
    width: 15%;
    margin-left: 5px;
}
#developed img{
    width: 80%;
    display: block;
    margin: 0px auto;
    margin-bottom: 10px;
}
#footer #autor h3{
    margin-top: 75px;
}
#footer #autor p{
    
    text-align: center;
    padding-top: 10px;
}
#footer #autor p a{
    color: white;
    text-decoration: none;
}
#footer #autor p a:hover{
    text-decoration: underline;
}

